In [4]:
import pandas as pd
import numpy as np

In [26]:

# Define the bounds of the area
lat1, lon1 = 22.13, 113.76
lat2, lon2 = 22.58, 114.51

# Define the number of zones
num_zones = 15

# Create a 2D grid of latitudes and longitudes
lats = np.linspace(lat1, lat2, num_zones+1)
lons = np.linspace(lon1, lon2, num_zones+1)

# Create a DataFrame to store the zone information
# zones = pd.DataFrame(index=range(num_zones), columns=range(num_zones))

zones = pd.DataFrame()
# Divide the grid into zones by slicing the latitudes and longitudes
for i in range(num_zones):
    for j in range(num_zones):
        zone_lat1, zone_lat2 = lats[i], lats[i+1]
        zone_lon1, zone_lon2 = lons[j], lons[j+1]
        zone_name = f'{i+1:03d}-{j+1:03d}'
        zone = pd.DataFrame([{
            'name': zone_name,
            'lat1': zone_lat1, 'lat2': zone_lat2,
            'lon1': zone_lon1, 'lon2': zone_lon2,
        }])
        zones = pd.concat([zones, zone], axis=0)
zones

       name   lat1   lat2    lon1    lon2
0   001-001  22.13  22.16  113.76  113.81
0   001-002  22.13  22.16  113.81  113.86
0   001-003  22.13  22.16  113.86  113.91
0   001-004  22.13  22.16  113.91  113.96
0   001-005  22.13  22.16  113.96  114.01
..      ...    ...    ...     ...     ...
0   015-011  22.55  22.58  114.26  114.31
0   015-012  22.55  22.58  114.31  114.36
0   015-013  22.55  22.58  114.36  114.41
0   015-014  22.55  22.58  114.41  114.46
0   015-015  22.55  22.58  114.46  114.51

[225 rows x 5 columns]

In [28]:
zones.to_csv("../data/processed/zones.csv",index=False)